body {
    font-family: 'Raleway', sans-serif ;
    text-align: center;
}

h1 {
    font-size: 5vw;
    font-weight: bold;
    max-width: 570px;
    margin-top: 20vw;
}
@media (max-width: 800px) {
    h1 {
        margin-top: 0vw;
        font-size: 7vw;
    }
  }

.container, 
.about, 
footer,
h1 {
    margin: 0 auto;
}



.name {
    padding: 100px;
    text-align: center;
}

.about {
    width: 35vw;
    text-align:left;
    font-weight:600;
    font-size: 2vw;
}

@media (max-width: 800px) {
    .about {
            font-size: 4vw;
            width: 80vw;
            margin-top: 20vw;
    }
  }

footer {
    margin-top: 8vw;
}
@media (max-width: 800px) {
    footer {
      margin-top: 50vw;
    }
  }

